* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.resource-list {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.resource-item {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.tags {
    margin-top: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 0.25rem;
    border: 1px coral solid;
}

.resource-tag {
    background-color: coral;
    font-weight: bold;
    margin: 0.25rem;
    border-radius: 0.25rem;
    padding: 0 0.2rem;
}